* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Poppins', sans-serif;
    background: #10101A;
    scroll-behavior: smooth;
    color: white;
}

.body {
    display: none;
}

.splash {
    width: 100%;
    height: 100vh;
    background: #10101A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    transform: translateY(0px);
    transition-duration: 400ms;
}

.splash img {
    height: 10vw;
}


.nav-bar {
    width: 100%;
    height: 80px;
    background: #10101abf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;
    z-index: 1;
}

.nav-items {
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin: 0 20px;
}

.nav-item :hover {
    animation: navline 200ms forwards;
}

@keyframes navline {
    0% {
        border-bottom: 0px solid #fff;
    }



    100% {
        border-bottom: 2px solid #fff;
    }
}


.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.logo {
    height: 40px;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-size: 18px;
    color: #fff;
    text-align: start;
    /* white-space: nowrap; */

}



.petchx {
    background: linear-gradient(135deg, #6BC5F8, #CF59E6, #6BC5F8, #CF59E6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.profile {
    height: 30vw;
    max-height: 400px;
    display: none;
    animation: bounceIn 500ms forwards;
}



/* css bounce in animation */

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/* css fade in down animation */

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.skill {
    width: 100%;
    height: 100vh;
    background: #10101A;
    display: flex;
    justify-content: center;
    align-items: center;
}







.mySkill {
    width: 100%;
    background: #10101A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    position: relative;
    column-gap: 10vw;
    row-gap: 10vw;
}


.tagcloud {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    cursor: default;
    color: white;
}

.tagcloud--item:hover {
    font-size: 18px;
}


.fade-out {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    /* Fade in duration and easing */
}






.about {
    width: 100%;
    height: 100vh;
    background: #10101A;
    display: flex;
    justify-content: center;
    align-items: center;
}



.aboutImg {
    height: 80%;
    padding: 0 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.aboutMe {
    padding: 0 30px;
    width: 500px;

}

.heading {
    font-size: 18px;
    font-weight: bold;
}

.name {
    font-size: 42px;
    font-weight: bold;
    padding: 10px 0;
}

p {
    font-size: 16px;
    padding: 10px 0;

}

.lop {
    color: #1DB954;
    margin-top: 50px;
    font-size: 18px;
}

.spotify {
    margin-top: 20px;
    height: 100px;
    width: 400px;
    display: flex;

}

.spotifyImg {
    height: 100px;
    width: 100px;
}

.spotifyContainer {
    width: 300px;
    height: 100px;
    box-shadow: inset 10px 10px 20px #06060a,
        inset -10px -10px 20px #1a1a2a;
    display: flex;
    align-items: center;
}

.spotifyContent {
    padding: 0 20px;
}

.spotifyName {
    font-weight: bold;
    padding: 0;
    text-overflow: ellipsis;
}

.spotifyArtists {
    font-size: 13px;
    padding: 0;
    color: #BFBFBF;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.card {
    height: 600px;
    width: 1000px;
    background: linear-gradient(145deg, #0e0e17, #11111c);
    border-radius: 50px;
    box-shadow: 20px 20px 60px #06060a,
        -20px -20px 60px #1a1a2a;

    justify-content: center;
    align-items: center;
    transform: scale(0.7);
    display: flex;
}


@media screen and (min-width: 700px) {
    .title {
        font-size: 28px;
    }

    .mySkill {
        font-size: 28px;
    }

    .tagcloud {
        font-size: 24px;
    }

    .tagcloud--item:hover {
        font-size: 26px;
    }

    .nav-items {
        display: flex;
    }

    .card {
        transform: scale(0.7);
    }

    .aboutImg {
        display: block;
    }

}

@media screen and (min-width: 1100px) {
    .title {
        font-size: 28px;
    }

    .profile {
        display: block;
    }

    .mySkill {
        flex-direction: row !important;
    }

    .card {
        transform: scale(1);
    }
}